:root {
    --bgOrange: #2e3b54;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flexcol {
    flex-direction: column;
}
.just-cen {
    justify-content: center;
}
.align-cen {
    align-items: center;
}
.just-sbet {
    justify-content: space-between;
}
.just-sar {
    justify-content: space-around;
}
li {
    list-style: none;
}
.button1 .btn-pink {
    background-color: var(--bgOrange);
    width: 107.18px;
    height: 43.2px;
    /* padding: 0.8rem 2.3rem; */
    top: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid transparent;
}
.button1 .btn-pink::before {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}

.button1 .btn-pink:hover::before {
    transform: scaleX(1);
}
.button1 .btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
}
